html, body 
{
  width: 1240; 
  height: 1140;
  margin-left:10%;
  margin-right:10%; 
  margin-top: 5%; 
  background-color: rgb(255, 255, 255); 
}
  
*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0px; 
}

/*Header 1 and Proper customization */
h1 {
  color: rgb(68,35,99);
  text-shadow: 2px 2px 5px rgb(84,36,97);
  text-align: center;
  position: absolute;
  left: 43%;
  top: 5%;
  font-family:"Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
/*Customizing menu as a whole */
#menu-bar ul 
{  
  padding-left:12%; 
  padding-top: 2%;
  margin: 0px;
  list-style: none; 
  color: rgb(125, 79, 129); 
  text-transform:uppercase; 
  text-decoration: none;
  position: absolute; 
}

/*Customizing menu items and placement */
#menu-bar ul li
{
  background-color: transparent;
  width: 170px; 
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  height: 0.5%;
  line-height: 312.5%;
  text-align: center; 
  float: left; 
  font-size: 14px; 
  position: relative;
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  text-shadow: 2px 2px 5px rgb(84,36,97);
  text-decoration:none; 
} 

#menu-bar ul li:hover
{ 

  background-color: rgb(220, 199, 219)
}

#menu-bar ul ul li
{ 
  background-color : rgb(200, 200, 219); 
}
  
#menu-bar ul ul 
{
  display: none; 
}


#menu-bar ul li:hover > ul 
{
  display:block;
}

.btnreveal{
  position: absolute; 
  left: 85%; 
  top:24%; 
  font-size: 16px; 
  padding:1%; 
  color:rgb(95, 53, 84);
  border-radius: 10px; 
  border-color: white; 
}

.btnreveal:hover {
  color: rgb(162, 113, 152);
}