-html, body 
{
  width: 100%; 
  height: 100%;
  margin-left:23%;
  margin-right: 1%; 
  margin-top: 5%; 
  background-color: rgb(255, 255, 255); 
}

  
*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0px; 
}



/*Header 1 and Proper customization */
h1 {
  color:#442363;
  text-shadow: 2px 2px 5px #542461;
  text-align: center;
  position: absolute;
  left: 38%;
  top: 5%;
  font-family:"Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
/*Customizing menu as a whole */
#menu-bar ul 
{
  padding: 1%; 
  margin: 0px;
  list-style: none; 
  color: rgb(125, 79, 129); 
  text-transform:uppercase; 
  text-decoration: none;
  position: absolute; 
}

/*Customizing menu items and placement */
#menu-bar ul li
{
  background-color: transparent;
  width: 170px; 
  border: 1px solid #ffffff;
  border-radius: 30px;
  height: 0.5%;
  line-height: 312.5%;
  text-align: center; 
  float: left; 
  font-size: 14px; 
  position: relative;
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  text-shadow: 2px 2px 5px #542461;
  text-decoration:none; 
} 

#menu-bar ul li:hover
{ 

  background-color: rgb(220, 199, 219)
}

#menu-bar ul ul li
{ 
  background-color : rgb(200, 200, 219); 
}
  
#menu-bar ul ul 
{
  display: none; 
}


#menu-bar ul li:hover > ul 
{
  display:block;
}

  

